
<section class="sec1 new_home">
  <div class="container">
    <div class="text_above_title new_home_text">
      MADE FOR ALL ™
    </div>
    <div class="logo_svg">
      <svg
        class="merican_logo"
        width="1374"
        height="507"
        viewBox="0 0 1374 507"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M257.339 25.4387C246.739 25.4387 245.31 77.7452 245.31 253.145C245.31 428.544 246.739 480.851 257.339 480.851V500.667H155.537V480.851C166.136 480.851 167.565 429.236 167.565 253.145V182.45L120.19 500.667H93.3221L45.9468 184.57V253.145C45.9468 429.927 65.7633 480.851 74.243 480.851V500.667H0V480.851C9.17092 480.851 19.8166 429.927 19.8166 253.145C19.8166 76.3627 9.217 25.4387 0 25.4387V5.62207H97.562L132.909 240.379L168.256 5.62207H257.339V25.4387Z" fill="black" />
        <path d="M433.569 306.88L452.648 313.931V500.621H266.695V480.805C275.866 480.805 278.032 428.498 278.032 253.099C278.032 77.6992 275.912 25.3927 266.695 25.3927V5.57617H447.717V185.907L427.901 192.958L366.377 33.1349H355.778V225.448C366.377 225.448 379.834 195.032 379.834 141.988H403.89V336.42H379.834C379.834 283.376 366.377 252.96 355.778 252.96V472.878H372.046L433.569 306.696V306.88Z" fill="black" />
        <path d="M557.307 224.848C569.335 224.848 579.934 205.769 579.934 127.286C579.934 55.1634 568.597 33.2271 557.307 33.2271H553.067V224.848H557.307ZM687.405 409.419C687.405 474.491 664.086 506.29 629.43 506.29C591.225 506.29 579.243 485.09 575.003 409.419C567.215 253.145 564.404 253.145 556.615 253.145H553.067V289.229C553.067 428.544 555.187 480.851 565.786 480.851V500.667H463.984V480.851C473.155 480.851 475.275 428.544 475.275 253.145C475.275 77.7452 473.155 25.4387 463.984 25.4387V5.62207H563.666C625.19 5.62207 664.777 43.8266 664.777 127.24C664.777 195.124 634.361 232.591 584.865 241.07C611.042 254.527 635.052 299.045 648.509 398.036C653.44 436.24 656.988 440.48 661.228 440.48C664.039 440.48 666.159 435.549 667.588 407.253L687.405 409.373V409.419Z" fill="black" />
        <path d="M692.059 500.621V480.805C701.23 480.805 703.349 429.19 703.349 253.099C703.349 77.0079 701.23 25.3927 692.059 25.3927V5.57617H793.169V25.3927C782.57 25.3927 781.141 77.0079 781.141 253.099C781.141 429.19 782.57 480.805 793.169 480.805V500.621H692.059Z" fill="black" />
        <path d="M953.131 301.212L978.57 302.64C971.519 456.103 953.131 506.29 902.899 506.29C837.826 506.29 800.359 424.259 800.359 253.145C800.359 82.0314 837.826 0 902.899 0C923.406 0 928.337 9.90825 938.983 9.90825C943.223 9.90825 951.702 7.78836 953.822 1.42862L972.21 8.47962V193.05L953.822 199.41C938.246 112.448 919.904 34.656 904.327 34.656C890.87 34.656 886.631 56.5924 886.631 251.025C886.631 445.458 900.087 464.583 915.618 464.583C942.486 464.583 950.965 390.34 953.085 301.258L953.131 301.212Z" fill="black" />
        <path d="M1062.26 340.108C1057.33 301.903 1050.92 253.837 1042.44 192.313C1036.08 251.717 1031.84 300.521 1028.98 340.108H1062.21H1062.26ZM1094.79 5.66895C1158.44 455.366 1161.99 478.732 1168.35 480.851V500.668H1068.66V480.851C1077.14 475.92 1077.83 459.652 1065.85 367.713H1027.65C1025.53 442.647 1032.58 476.612 1050.28 480.851V500.668H972.484V480.851C979.535 478.04 981.655 464.583 1044.61 5.66895H1094.79Z" fill="black" />
        <path d="M1298.3 5.62216H1373.24V25.4388C1362.64 25.4388 1352.73 77.054 1352.73 253.145V500.621H1313.83L1226.13 164.062V253.145C1226.13 429.236 1245.95 480.851 1254.43 480.851V500.667H1180.19V480.851C1190.1 480.851 1200 429.236 1200 253.145C1200 77.054 1189.4 25.4388 1180.19 25.4388V5.62216H1261.48L1325.82 253.099V238.951C1325.82 77.0079 1306.74 25.3927 1298.26 25.3927V5.57617L1298.3 5.62216Z" fill="black" />
      </svg>
    </div>

  </div>
  <div class="bottle_of_beer">
    <img src="{{ 'bottle_of_beer.png' | asset_url }}" alt="">
  </div>
</section>
<section class="sec15">
  <div class="container">
    <div class="title">
      NO Mouth shall                     
go unrefreshed
    </div>
    <p>
      Our beer tastes just as good in Texas as it does in California. Just as crisp in New York City as it is in Nashville, big city dive bars, or small country honky tonks. A tribute to good times had, or good times lost. An every occasion beer, not out of place at a punk show or a rodeo.
    </p>
    <p>
      The refreshing taste of the American spirit, made for the dreamers, the hard workers, the adventurers, the everyday America and everyday Americans.                    
        It doesn’t matter who you are or where you’re from, we’ve saved a seat just for you.
    </p>
    <p>
      Merican - MADE FOR ALL™
    </p>
  </div>

</section>
<section class="sec16">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="{{ 'i14.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's1.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's2.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's3.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's4.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's5.jpg' |  asset_url }}" alt=""></div>
        <div class="swiper-slide"><img src="{{ 's6.jpg' |  asset_url }}" alt=""></div>
      </div>
    </div>
    <div class="swiper-button-next">
      <svg
        width="60"
        height="60"
        viewBox="0 0 60 60"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          x="59.5"
          y="59.5"
          width="59"
          height="59"
          rx="29.5"
          transform="rotate(-180 59.5 59.5)"
          stroke="black" />
        <path
          d="M26 20L36 30L26 40"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <div class="swiper-button-prev">
      <svg
        width="60"
        height="60"
        viewBox="0 0 60 60"
        fill="none"
        style="transform: rotate(180deg);"
        xmlns="http://www.w3.org/2000/svg">
        <rect
          x="59.5"
          y="59.5"
          width="59"
          height="59"
          rx="29.5"
          transform="rotate(-180 59.5 59.5)"
          stroke="black" />
        <path
          d="M26 20L36 30L26 40"
          stroke="black"
          stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<section class="sec17">
  <div class="container">
    <div class="title">
        YOU ARE <br>
WHAT YOU DRINK
    </div>
    <p>
        An everyday American Light Beer, made from the finest premium ingredients. If you want a craft beer, you’ve come to the wrong place, Merican is an easy drinking, great tasting, simple beer, to be shared by all.
    </p>
    <div class="items">
        <div class="item">
            <div class="dig">4.2
                <span>%</span>
            </div>
            <span>alcohol by volume</span>
        </div>
        <div class="item">
            <div class="dig">115</div>
            <span>calories</span>
        </div>
    </div>
</section>
<style>
  header .logo {
    display: none;
  }
</style>
<script>
  const links = document.querySelectorAll('.mob_menu .links .link');
  const ind = 0;
  links[ind].style.opacity = '1'
</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
</script>