<section class="sec10">
  <div class="container" style="padding-top: 20px;">
    <div class="left paste_this">
      <div class="name">
        <div class="stat">NEW</div>
        <div class="title">merican light beer</div>
      </div>
      <div class="block">
        <ul>
          <li>
            <span>Features & Specs</span>
            <div class="but">
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M6.80953 5.19368H12V6.80632H6.80953V12H5.19047V6.80632H0V5.19368H5.19047V0H6.80953V5.19368Z" fill="black" />
              </svg>
            </div>
          </li>

          <li>
            <span>Reviews (36)</span>
            <div class="block1">
              <div class="rev">&#9733 4.6</div>
              <div class="but">
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.80953 5.19368H12V6.80632H6.80953V12H5.19047V6.80632H0V5.19368H5.19047V0H6.80953V5.19368Z" fill="black" />
                </svg>
              </div>
            </div>
          </li>
        </ul>
        <div class="buttons">
          <a class="button">local delivery</a>
          <a class="button">find near me</a>
        </div>
        <div class="links">
          <a href="">Free Shipping & Free Returns</a>
          <a href="">Payment Options</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="first">
        <img src="{{ 'bottle_of_beer.png' |  asset_url }}" alt="">
      </div>
      <div class="paste_here"></div>
      <div class="second">
        <video
          id="videoPlayer"
          src="{{ 'video.mp4' |  asset_url }}"
          controls></video>
        <p>Built for the vertical aspects of big mountain skiing, the rugged, cold freshing taste is a freeride legend</p>

      </div>
      <div class="third">
        <img src="{{ 'i11.jpg' |  asset_url }}" alt="">
        <p>Duis cursus enim diam, eu ornare elit pellentesque a. Praesent semper ultrices malesuada.</p>
      </div>
      <div class="four">
        <img src="{{ 'i12.jpg' |  asset_url }}" alt="">
        <p>Duis cursus enim diam, eu ornare elit pellentesque a. Praesent semper ultrices malesuada.</p>
        <span>yosemite, CA</span>
      </div>
      <div class="five">
        <img src="{{ 'i13.jpg' |  asset_url }}" alt="">
        <p>Duis cursus enim diam, eu ornare elit pellentesque a. Praesent semper ultrices malesuada.</p>
      </div>
    </div>
  </div>
</section>
<section class="sec11">
  <div class="container">
    <div class="items">
      <div class="item">
        <div class="image"></div>
        <div class="info">
          <div class="add">
            <span>SWAG</span>
            <div class="but">
              <svg
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62669 6.38004H13.44V8.19337H7.62669V14.0334H5.81336V8.19337H2.67029e-05V6.38004H5.81336V0.540039H7.62669V6.38004Z" fill="black" />
              </svg>
            </div>
          </div>
          <p>Duis cursus enim diam, eu ornare elit pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image" style="background: #231f20;"></div>
        <div class="info">
          <div class="add">
            <span>SWAG</span>
            <div class="but">
              <svg
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62669 6.38004H13.44V8.19337H7.62669V14.0334H5.81336V8.19337H2.67029e-05V6.38004H5.81336V0.540039H7.62669V6.38004Z" fill="black" />
              </svg>
            </div>
          </div>
          <p>Duis cursus enim diam, eu ornare elit pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image"></div>
        <div class="info">
          <div class="add">
            <span>SWAG</span>
            <div class="but">
              <svg
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62669 6.38004H13.44V8.19337H7.62669V14.0334H5.81336V8.19337H2.67029e-05V6.38004H5.81336V0.540039H7.62669V6.38004Z" fill="black" />
              </svg>
            </div>
          </div>
          <p>Duis cursus enim diam, eu ornare elit pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image" style="background: #231f20;"></div>
        <div class="info">
          <div class="add">
            <span>SWAG</span>
            <div class="but">
              <svg
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62669 6.38004H13.44V8.19337H7.62669V14.0334H5.81336V8.19337H2.67029e-05V6.38004H5.81336V0.540039H7.62669V6.38004Z" fill="black" />
              </svg>
            </div>
          </div>
          <p>Duis cursus enim diam, eu ornare elit pellentesque.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const links = document.querySelectorAll('.mob_menu .links .link');
  const ind = 3;
  links[ind].style.opacity = '1'

  const paste_this = document.querySelector('.paste_this');
  const paste_here = document.querySelector('.paste_here');

  if (window.innerWidth <= 768) {

    while (paste_this.firstChild) {
        paste_here.appendChild(paste_this.firstChild);
    }
  }

</script>
<style>
  @media screen and (max-width: 600px) {
    header {
      background: #b12c27;
    }
    .sec10 .container {
      padding-top: 0 !important;
    }
    .sec10 .container .right .first img {
      padding: 40px 50px 0;
      margin: 0;
    }
    .sec10 .container .right .first {
      display: flex;
      justify-content: center;

    }
    .turn_white {
      color: white;
      fill: white;
    }
    .sec10 .container .right .first {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
</style>