<section class="sec5">
  <div class="container">
    <div class="left">
      <div class="infos">
        <p>Merican is the beer of the people.</p>
        <p>Brewed locally in Redding, California, we’re proud to be producing the best damn light beer made from some of the finest ingredients.</p>
        <p>It’s nostalgic, crisp, refreshing, and most importantly: it’s MADE FOR ALL ™</p>
        <p>From coast to coast.</p>
        <p>Enjoy it in a swanky bar, a honkeytonk, or wherever good times are had — it’s all the same to us.</p>
        <p>Cheers.</p>
      </div>
    </div>
    <div class="right">
      <img src="{{ 'i1.jpg' |  asset_url }}" alt="">
    </div>
  {% comment %} <p>At Merican, we were driven by a relentless pursuit to create a beer so exceptional that it begged to be tasted from the gritty dive bars of LA to the classic saloons of Bozeman.</p> {% endcomment %}
  </div>
</section>
<section class="sec6">
  <div class="container">
    {% comment %} <div class="photos">
                              <div class="photo"><img src="{{ 'i2.jpg' |  asset_url }}" alt=""></div>
                              <div class="photo"><img src="{{ 'i3.jpg' |  asset_url }}" alt=""></div>
                              <div class="photo"><img src="{{ 'i4.jpg' |  asset_url }}" alt=""></div>
                              <div class="photo"><img src="{{ 'i5.jpg' |  asset_url }}" alt=""></div>
                    </div> {% endcomment %}
    <div class="text">
      <span>Inspired by Americana</span>
      <p>Merican pioneers a way back to simplicity, where what matters most is the people around you. It’s a beer made for all, because it’s everyone’s taste.
      </p>
    </div>
  </div>
  <script>
       document.addEventListener('DOMContentLoaded', function () {
            if (window.innerWidth > 850) {
                const photos = document.querySelectorAll('.sec6 .container .photos .photo');
                photos.forEach(function (photo) {
                    photo.addEventListener('mouseover', function () {
                        photos.forEach(function (otherPhoto) {
                            if (otherPhoto !== photo) {
                                otherPhoto.style.width = 'calc((100% - 815px) / 2.9)';
                            }
                        });
                        photo.style.width = '815px';
                    });
                    photo.addEventListener('mouseout', function () {
                        photos.forEach(function (otherPhoto) {
                            otherPhoto.style.width = 'calc(100% / 4)';
                        });
                    });
                });
            }
      });
  </script>
</section>
<section class="sec7">
  <div class="container">
    <div class="left">
      <div class="block">
        <span>Inspired by Americana</span>
        <img src="{{ 'i6.jpg' |  asset_url }}" alt="">
      </div>
    </div>
    <div class="right">
      <img src="{{ 'i7.jpg' |  asset_url }}" alt="">
      <p>Merican pioneers a way back to simplicity, where what matters most is the people around you. It’s a beer made for all, because it’s everyone’s taste.
      </p>
    </div>
  </div>
</section>
<section class="sec8 new_about">
  <div class="container">
    <div class="title">merican light beer</div>
    <div class="subtitle">Merican is not just a light lager beer. It’s a beer that enhances the moment you’re in.</div>
    <div class="link">
      <span>Explore</span>
      <div class="but">
        <svg
          width="11"
          height="10"
          viewBox="0 0 11 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_58_955)">
            <path d="M0 5.65612V4.30388L8.41874 4.31842L5.05997 0.95965L5.99054 0L10.9923 4.97273L6.00508 9.96L5.07451 9.00035L8.43328 5.64158L0 5.65612Z" fill="black" />
          </g>
          <defs>
            <clipPath id="clip0_58_955">
              <rect
                width="11"
                height="10"
                fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <img src="{{ 'bottle_of_beer.png' |  asset_url }}" alt="">
  </div>
</section>
<script>
  const links = document.querySelectorAll('.mob_menu .links .link');
  const ind = 1;
  links[ind].style.opacity = '1'
</script>